<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/">Shop</a></li>
                <li class="main-header__item"><a href="/admin/add-product">Add Product</a></li>
                <li class="main-header__item"><a class="active" href="/contact">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <div class="main">
        <h2>Book a call</h2>
        <p>Book a call slot and out representative will call you within 1hr of selected time.</p>
        <hr>
        <form accept="/success" method="get" id="userForm">
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name" required><br>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required><br>
            <a id="submitBtn" href="/success">Get a call</a>
        </form>
    </div>
    <script src="../Routes/shop.js"></script>
</body>

</html>